medibox with IOT/flows.json
[
    {
        "id": "f7f4f9a432f7dc7f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4f0eceb7a52bbc9e",
        "type": "mqtt in",
        "z": "f7f4f9a432f7dc7f",
        "name": "",
        "topic": "ENTC-ADMIN-TEMP",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "51240e6d9e376fd0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 660,
        "wires": [
            [
                "d545133dbb5db801",
                "85a49e2597462d0f"
            ]
        ]
    },
    {
        "id": "d545133dbb5db801",
        "type": "ui_gauge",
        "z": "f7f4f9a432f7dc7f",
        "name": "",
        "group": "6ed88f08ee29848a",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{payload}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 350,
        "y": 640,
        "wires": []
    },
    {
        "id": "85a49e2597462d0f",
        "type": "ui_chart",
        "z": "f7f4f9a432f7dc7f",
        "name": "",
        "group": "6ed88f08ee29848a",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 350,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "e8dc1e7036c7f8b3",
        "type": "ui_switch",
        "z": "f7f4f9a432f7dc7f",
        "name": "Main Switch",
        "label": "Main switch",
        "tooltip": "",
        "group": "104da78a6fabb25d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 310,
        "y": 360,
        "wires": [
            [
                "7ce9d42814926b16"
            ]
        ]
    },
    {
        "id": "7ce9d42814926b16",
        "type": "mqtt out",
        "z": "f7f4f9a432f7dc7f",
        "name": "",
        "topic": "ENTC-ADMIN-MAIN-ON-OFF",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "51240e6d9e376fd0",
        "x": 550,
        "y": 360,
        "wires": []
    },
    {
        "id": "39285846352b26ec",
        "type": "ui_switch",
        "z": "f7f4f9a432f7dc7f",
        "name": "Schedule Switch",
        "label": "Schedule switch",
        "tooltip": "",
        "group": "7b27170cbbc99053",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 490,
        "y": 440,
        "wires": [
            [
                "893ffb4a94d2bb28"
            ]
        ]
    },
    {
        "id": "893ffb4a94d2bb28",
        "type": "change",
        "z": "f7f4f9a432f7dc7f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "isScheduled",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 440,
        "wires": [
            [
                "d234e8db56393bdd"
            ]
        ]
    },
    {
        "id": "f4ab2adc62b051a2",
        "type": "ui_date_picker",
        "z": "f7f4f9a432f7dc7f",
        "name": "",
        "label": "date",
        "group": "7b27170cbbc99053",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 110,
        "y": 520,
        "wires": [
            [
                "89e9c9337a63ca1c"
            ]
        ]
    },
    {
        "id": "7fa2019f9e83649c",
        "type": "ui_text_input",
        "z": "f7f4f9a432f7dc7f",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "7b27170cbbc99053",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 580,
        "wires": [
            [
                "de4b452be1b312ae"
            ]
        ]
    },
    {
        "id": "89e9c9337a63ca1c",
        "type": "change",
        "z": "f7f4f9a432f7dc7f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "sheduleDate",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 520,
        "wires": [
            [
                "d234e8db56393bdd"
            ]
        ]
    },
    {
        "id": "de4b452be1b312ae",
        "type": "change",
        "z": "f7f4f9a432f7dc7f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "scheduleTime",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 580,
        "wires": [
            [
                "d234e8db56393bdd"
            ]
        ]
    },
    {
        "id": "d234e8db56393bdd",
        "type": "function",
        "z": "f7f4f9a432f7dc7f",
        "name": "function 1",
        "func": "let isScheduled = global.get(\"isScheduled\");\nlet scheduleDate = global.get(\"scheduleDate\");\nlet scheduleTime = global.get(\"scheduleTime\");\n\nif (isScheduled && scheduleDate && scheduleTime) {\n    let scheduleString = `${scheduleDate}T${scheduleTime}`; // ISO format\n    let scheduleTimestamp = new Date(scheduleString).getTime();\n\n    if (Date.now() > scheduleTimestamp) {\n        return { payload: \"OLDER\" };\n    } else {\n        return { payload: scheduleString };\n    }\n\n} else if (isScheduled === false) {\n    return { payload: \"NOT-SCHEDULED-ON\" };\n} else {\n    return { payload: null };\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 540,
        "wires": [
            [
                "9a902bd285dbf2ef"
            ]
        ]
    },
    {
        "id": "9a902bd285dbf2ef",
        "type": "switch",
        "z": "f7f4f9a432f7dc7f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "NOT-SCHEDULED-ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OLDER",
                "vt": "str"
            },
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 710,
        "y": 540,
        "wires": [
            [
                "8a0d19b1b6843523"
            ],
            [
                "2e96444ce247dfc6"
            ],
            [
                "7c2d6393f845b280"
            ],
            [
                "ccbf6209b819cccc"
            ]
        ]
    },
    {
        "id": "8a0d19b1b6843523",
        "type": "function",
        "z": "f7f4f9a432f7dc7f",
        "name": "function 2",
        "func": "return {\n    payload:\"NOT\",\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 480,
        "wires": [
            [
                "e36ad8362a9a7771"
            ]
        ]
    },
    {
        "id": "2e96444ce247dfc6",
        "type": "function",
        "z": "f7f4f9a432f7dc7f",
        "name": "function 3",
        "func": "\nreturn {\n    payload:\"Please enter a future time\"\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 560,
        "wires": [
            [
                "d1f1fe88511ac78e"
            ]
        ]
    },
    {
        "id": "7c2d6393f845b280",
        "type": "function",
        "z": "f7f4f9a432f7dc7f",
        "name": "function 4",
        "func": "\nreturn {\n    payload:Math.round(msg.payload/1000),\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 520,
        "wires": [
            [
                "e36ad8362a9a7771"
            ]
        ]
    },
    {
        "id": "ccbf6209b819cccc",
        "type": "function",
        "z": "f7f4f9a432f7dc7f",
        "name": "function 5",
        "func": "\nreturn {\n    payload:\"Please enter a valid date and time\"\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 600,
        "wires": [
            [
                "d1f1fe88511ac78e"
            ]
        ]
    },
    {
        "id": "d1f1fe88511ac78e",
        "type": "ui_toast",
        "z": "f7f4f9a432f7dc7f",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1110,
        "y": 580,
        "wires": []
    },
    {
        "id": "e36ad8362a9a7771",
        "type": "mqtt out",
        "z": "f7f4f9a432f7dc7f",
        "name": "",
        "topic": "ENTC-ADMIN-SCH-ON",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "51240e6d9e376fd0",
        "x": 1130,
        "y": 500,
        "wires": []
    },
    {
        "id": "865b059ddb09ba5d",
        "type": "mqtt in",
        "z": "f7f4f9a432f7dc7f",
        "name": "ESP-ON-OFF",
        "topic": "ENTC-ADMIN-MAIN-ON-OFF-ESP",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "51240e6d9e376fd0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 360,
        "wires": [
            [
                "e8dc1e7036c7f8b3"
            ]
        ]
    },
    {
        "id": "183df998d0a64e5d",
        "type": "mqtt in",
        "z": "f7f4f9a432f7dc7f",
        "name": "SCH-ESP-ON",
        "topic": "ENTC-ADMIN-SCH-ESP-ON",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "51240e6d9e376fd0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 440,
        "wires": [
            [
                "e81bc993cb525f7f"
            ]
        ]
    },
    {
        "id": "e81bc993cb525f7f",
        "type": "function",
        "z": "f7f4f9a432f7dc7f",
        "name": "function 6",
        "func": "\nreturn {\n    payload:msg.payload == 1\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 440,
        "wires": [
            [
                "39285846352b26ec"
            ]
        ]
    },
    {
        "id": "8c0e5f39f51280cf",
        "type": "mqtt in",
        "z": "f7f4f9a432f7dc7f",
        "name": "",
        "topic": "ENTC-LIGHT-AVG",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "51240e6d9e376fd0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 760,
        "wires": [
            [
                "be551cb79f125f6b",
                "f308c8167bf23210"
            ]
        ]
    },
    {
        "id": "be551cb79f125f6b",
        "type": "ui_gauge",
        "z": "f7f4f9a432f7dc7f",
        "name": "",
        "group": "e67ec0fa5aa4ec82",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{payload}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 350,
        "y": 740,
        "wires": []
    },
    {
        "id": "f308c8167bf23210",
        "type": "ui_chart",
        "z": "f7f4f9a432f7dc7f",
        "name": "",
        "group": "e67ec0fa5aa4ec82",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 350,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "3778664cc3848931",
        "type": "ui_slider",
        "z": "f7f4f9a432f7dc7f",
        "name": "",
        "label": "Maximum Angle",
        "tooltip": "",
        "group": "f083ac36dcbc97f9",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1",
        "step": "0.01",
        "className": "",
        "x": 380,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "6bd3c608a9e6d610",
        "type": "ui_slider",
        "z": "f7f4f9a432f7dc7f",
        "name": "",
        "label": "Minimum Angle",
        "tooltip": "",
        "group": "f083ac36dcbc97f9",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1",
        "step": "0.01",
        "className": "",
        "x": 380,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "796552dbcbc9e4f8",
        "type": "mqtt in",
        "z": "f7f4f9a432f7dc7f",
        "name": "",
        "topic": "ENTC-LIGHT-ts",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "51240e6d9e376fd0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 840,
        "wires": [
            [
                "6bd3c608a9e6d610"
            ]
        ]
    },
    {
        "id": "ac9e329b1db10d18",
        "type": "mqtt in",
        "z": "f7f4f9a432f7dc7f",
        "name": "",
        "topic": "ENTC-LIGHT-tu",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "51240e6d9e376fd0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 880,
        "wires": [
            [
                "3778664cc3848931"
            ]
        ]
    },
    {
        "id": "afef2aba3b9e60ab",
        "type": "ui_slider",
        "z": "f7f4f9a432f7dc7f",
        "name": "",
        "label": "Minimum Angle (Offset)",
        "tooltip": "",
        "group": "7d9c2d3182badcbd",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "theta_offset",
        "topicType": "msg",
        "min": 0,
        "max": "120",
        "step": 1,
        "className": "",
        "x": 170,
        "y": 980,
        "wires": [
            [
                "f70b112895049b72"
            ]
        ]
    },
    {
        "id": "645d7528c5a4a98f",
        "type": "ui_slider",
        "z": "f7f4f9a432f7dc7f",
        "name": "",
        "label": "Controlling Factor (Gamma)",
        "tooltip": "",
        "group": "7d9c2d3182badcbd",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "gamma",
        "topicType": "msg",
        "min": 0,
        "max": "1",
        "step": "0.01",
        "className": "",
        "x": 180,
        "y": 1040,
        "wires": [
            [
                "c67edcf1c8b36f76"
            ]
        ]
    },
    {
        "id": "475636fc90d50392",
        "type": "ui_slider",
        "z": "f7f4f9a432f7dc7f",
        "name": "",
        "label": "Ideal Storage Temp (Tmed)",
        "tooltip": "",
        "group": "7d9c2d3182badcbd",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "tmed",
        "topicType": "msg",
        "min": "10",
        "max": "40",
        "step": "0.5",
        "className": "",
        "x": 180,
        "y": 1100,
        "wires": [
            [
                "60b4fe22ee054c70"
            ]
        ]
    },
    {
        "id": "f70b112895049b72",
        "type": "mqtt out",
        "z": "f7f4f9a432f7dc7f",
        "name": "",
        "topic": "ENTC-WINDOW-THETA",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "51240e6d9e376fd0",
        "x": 510,
        "y": 980,
        "wires": []
    },
    {
        "id": "c67edcf1c8b36f76",
        "type": "mqtt out",
        "z": "f7f4f9a432f7dc7f",
        "name": "",
        "topic": "ENTC-WINDOW-GAMMA",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "51240e6d9e376fd0",
        "x": 510,
        "y": 1040,
        "wires": []
    },
    {
        "id": "60b4fe22ee054c70",
        "type": "mqtt out",
        "z": "f7f4f9a432f7dc7f",
        "name": "",
        "topic": "ENTC-WINDOW-TEMP-MED",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "51240e6d9e376fd0",
        "x": 520,
        "y": 1100,
        "wires": []
    },
    {
        "id": "51240e6d9e376fd0",
        "type": "mqtt-broker",
        "name": "",
        "broker": "https://test.mosquitto.org",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6ed88f08ee29848a",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "a8ae30c2b9f37440",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "104da78a6fabb25d",
        "type": "ui_group",
        "name": "Main Switch",
        "tab": "a8ae30c2b9f37440",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7b27170cbbc99053",
        "type": "ui_group",
        "name": "Schedule",
        "tab": "a8ae30c2b9f37440",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e67ec0fa5aa4ec82",
        "type": "ui_group",
        "name": "Light intensity",
        "tab": "a8ae30c2b9f37440",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f083ac36dcbc97f9",
        "type": "ui_group",
        "name": "Shade Controller",
        "tab": "a8ae30c2b9f37440",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7d9c2d3182badcbd",
        "type": "ui_group",
        "name": "Medicine Parameters",
        "tab": "a8ae30c2b9f37440",
        "order": 6,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a8ae30c2b9f37440",
        "type": "ui_tab",
        "name": "Medibox",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]